# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

docs/